<div class="p-5 ml-10 mr-10 w-80">
  <h2><span class="bg-gray">注文履歴一覧</span></h2>
  <table class="table">
    <thead class="bg-gray">
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.created_at.strftime("%Y/%m/%d"),admin_order_path(order.id) %></td>
          <td><%= order.customer.first_name+order.customer.last_name %></td>
          <td><%= order.order_details.sum(:amount) %></td>
          <td><%= Order.recieve_statuses_i18n[order.recieve_status] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


      
      
      
      