<div class="container">
    <div class="row">
        <h3 class="col-md-5">配送先登録/一覧</h2>
    </div>
    <%= form_with model:@address,url:"public/addresses", local:true do |f| %>
     
     
     
    <div class="form-group row">
        <label for="" class="col-md-4 col-form-label">郵便番号(ハイフンなし)</label>
        <div class="col-md-4">
         