<div class="nav mt-3">
    <li class="nav-form">入力<li>
    <li class="arrow text-black">→</li>
    <li class="nav-form current" style="background-color:#FFFFFF ;"></li>
    <li class="arrow text-black">→</li>
    <li class="nav-form">完了</li>
</div>

<h1 class="text-black">注文情報確認</h1>
<div class="col-7 d-inline-block">
<table class="table-borderless table-white" style="opacity: 0.8;">
  <thead class="thead-dark">    
   <tr>
    <th>商品名</th>
    <th>単価</th>
    <th>数量</th>
    <th>小計</th>
   </tr> 
  </thead>
  <tbody>
     <% @cart_items.each do |f| %>
     <tr class="text-right">
       <th class= "text-center"><%= f.item.name %></th>
       <td><%= f.item.with_tax_price.to_s(:delimited) %>円</td>
       <td><%= f.amount %></td>
       <td><%= f.subtotal.to_s(:delimited) %>円</td>
     </tr>
    <% end %>
  </tbody>    
</table>
</div>